<!DOCTYPE html>
<html>
<head>
	<title>MIKAN</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
	<link href="https://fonts.googleapis.com/css?family=Cambo" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/about.js"></script>
</head>
<body>
<div id="main">
  <header>
     <h1>
       <a href="../index.html" id="logo">MIKAN</a>
     </h1>
     <div class="buttons">
       <a id="homebutton"  href="../index.html">Home</a>
       <a id="aboutbutton" class="highlight"  href="../templates/about.html">About</a>
       <a id="catalogbutton" href="../templates/catalog.html">Catalog</a>
       <a id="faqbutton" href="../templates/faq.html">FAQ</a>
       <a id="contactbutton" href="../templates/contact.html">Contact</a>
     </div>
   </header>
   <div class="line"></div>
<div class="section-header">
  <h1>About</h1>
</div>
<div class="about-section">
  <p>Hi there.</p>

  <p>My name is Madeleine. I run Mikan.</p>

  <p>Mikan was impulsively birthed one May evening in Tokyo, Japan. I essentially began this project because I have always harbored much appreciation for fashion and have long since craved an outlet for it. I suppose I should be transparent and reveal that I’m not a professional by any means nor have I ever studied fashion. I’m just an admirer who decided to manifest her enthusiasm for it through this venture.</p>

  <p>The periodical collections that I publish here are exceedingly personal, which is why they contain limited items (and only a single stock of each). I am the one who selects each of the products you see. I’ve run my fingers through the fabric, I’ve inspected the quality of the material. These collections are essentially a curation of very carefully selected pieces that express my individual style, which I like to believe is presentable and classic -- but never dull. I often forage for pieces that execute an elevated approach to simple, understated works.</p>

  <p>I view fashion as an art worthy of investment. Thus, when purchasing pieces, I always consider the long-time wearability of the item. It needs to be in vogue, irrespective of the era. Each collection published may have a running theme or motif that pertains to it, but ultimately all the items boast the indispensable quality of timelessness. Mikan promotes slow fashion as opposed to fast: the pieces you see here heed no attention to trends, instead favoring those that are ageless and enduring.</p>

  <p>As I stated earlier, I don’t claim to be an expert in this field. I’m learning this as I go along. Since Mikan’s birth, I’ve had the privilege of connecting and collaborating with a number of different artists, who have all taught me such invaluable lessons. Ultimately, I would love for the site to serve as a platform for different artists and myself to showcase our work. </p>

  <p>I’d like to thank you for visiting this page. Your interest in Mikan is most appreciated and your support is such an enormous source of inspiration. I don’t know how this whole endeavor will turn out, but I am very grateful you have joined me thus far. </p>

  <p>Bye for now.</p>

  <p>xx,</p>

  <p>Madeleine</p>

</div>



</div>
</body>
</html>
