<!DOCTYPE html>
<html>
<head>
	<title>MIKAN</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/catalog.css">
	<link href="https://fonts.googleapis.com/css?family=Cambo" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/catalog.js"></script>
</head>
<body>
<div id="main">
  <header>
     <h1>
       <a href="../index.html" id="logo">MIKAN</a>
     </h1>
     <div class="buttons">
       <a id="homebutton"  href="../index.html">Home</a>
       <a id="aboutbutton" href="../templates/about.html">About</a>
       <a id="catalogbutton" class="highlight" href="../templates/catalog.html">Catalog</a>
       <a id="faqbutton" href="../templates/faq.html">FAQ</a>
       <a id="contactbutton" href="../templates/contact.html">Contact</a>
     </div>
   </header>
<div class="bigsection">
<div class="bigcollection">SUMMER COLLECTION 2019</div>
<div class="line"></div>
<div class="smallcollection">YOUNG, FEMININE, & CASUAL</div>
</div>
<div class="catalogsection">
<div id="images">
<img class="one" src="../images/catalog2.jpg">
<img class="one" src="../images/change.jpg">
</div>
<img class="catalog2" src="../images/catalog1.jpg">
<div class="catalogtext">Light, flowy, and breathable. Now this is a daytime shirt. I’m in love with each and every one of these classically exceptional pieces and appreciate all of their individual details. </div>
<div class="shopnow">SHOP NOW</div>
<div id="images2">
<img class="two" src="../images/change1.jpg">
<img class="two" src="../images/blue5.jpg">
</div>
<div class="catalogtext2">It’s a slip, and a proper one at that. Putting it on requires zero effort, and the result is just stunning.  It’ll make you feel unapologetically sexy. </div>
<img class="catalog4" src="../images/blue6.jpg">
<img class="catalog5" src="../images/blue3.jpg">
<img class="catalog6" src="../images/skirt2.jpg">
<img class="catalog7" src="../images/skirt1.jpg">
<div class="catalogtext3">The red only enhances the perfectly modest skirt, adding a just a pinch of audacity. </div>



</div>


</div>
</body>
</html>
