<!DOCTYPE html>
<html>
<head>
	<title>MIKAN</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/contact.css">
	<link href="https://fonts.googleapis.com/css?family=Cambo" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/contact.js"></script>
</head>
<body>
<div id="main">
  <header>
     <h1>
       <a href="../index.html" id="logo">MIKAN</a>
     </h1>
     <div class="buttons">
       <a id="homebutton"  href="../index.html">Home</a>
       <a id="aboutbutton"  href="../templates/about.html">About</a>
       <a id="catalogbutton" href="../templates/catalog.html">Catalog</a>
       <a id="faqbutton"  href="../templates/faq.html">FAQ</a>
       <a id="contactbutton" class="highlight"  href="../templates/contact.html">Contact</a>
     </div>
   </header>
   <div class="line"></div>
<div class="section-header">
  <h1>Contact Us</h1>
</div>
<div class="contact-section">

	<form action="https://formspree.io/youremail@gmail.com" method="POST" />
	  Your name:<br>
	  <input  class="first" type="text" name="name" value="Your Name">
	  <br>
	  Email:<br>
	  <input class="email" type="text" name="email" value="Your Email">
	  <br><br>
	  Message:<br>
	  <textarea class="msg" name="message" rows="10" cols="30"></textarea>
	  <br>
	  <input type="submit" value="Submit">
	</form>

</div>



</div>
</body>
</html>
