<!DOCTYPE html>
<html>
<head>
	<title>MIKAN</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/faq.css">
	<link href="https://fonts.googleapis.com/css?family=Cambo" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/faq.js"></script>
</head>
<body>
<div id="main">
  <header>
     <h1>
       <a href="../index.html" id="logo">MIKAN</a>
     </h1>
     <div class="buttons">
       <a id="homebutton"  href="../index.html">Home</a>
       <a id="aboutbutton"  href="../templates/about.html">About</a>
       <a id="catalogbutton" href="../templates/catalog.html">Catalog</a>
       <a id="faqbutton" class="highlight" href="../templates/faq.html">FAQ</a>
       <a id="contactbutton"   href="../templates/contact.html">Contact</a>
     </div>
   </header>
   <div class="line"></div>
<div class="section-header">
  <h1>Frequently Asked Questions</h1>
</div>
<div class="faq-section">

<div id="faq" class="question">How often do you publish collections?</div>


<p class="answer">Unfortunately, I cannot provide a definitive answer to this. It really depends on a number of variables, such as how quickly the current collection sells or how much free time I’d have from university. Although ideally, I’d like to curate and publish a collection every three to four months.</p>

<div id="faq" class="question2">Where is Mikan based?</div>


<p class="answer2">This is difficult even for me to ascertain. I began Mikan in Japan, worked on its logistics in the Philippines, and am currently operating it from the United Kingdom. All orders, however, will be shipped from Manila.</p>


<div id="faq" class="question3">What currency are your prices in?</div>
<p class="answer3">All prices are listed in Philippine pesos (PHP).</p>


</div>




</div>



</div>
</body>
</html>
